* {
  margin: 0;
  padding: 0;
  height:100%;
  box-sizing: border-box;

}


.login-page{
  background-image: url('./images/login-bac.png')
}

img{
    position: absolute;
    right: 7em;
   max-width: 25%;
   height: auto;
   top: 9em;
}

.Login-button{


    position: absolute;
    top: 60%;

    left: 72%;
    bottom: 40%;
    height: 2.5em;
    padding-left: 3em;
    padding-right: 3em;
}
