* {
  margin: 0;
  padding: 0;
  height:100%;
  box-sizing: border-box;

}

.whole{
  background-image: url('images/homepage_background.png'),url('images/login-bac.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 60% 100%;
    background-position: left top, right top;
    overflow: hidden;
    overflow-x: hidden;
}

img{
    position: absolute;
    right: 7em;
    top: 8em;
   max-width: 25%;
   height: auto;

}

.Login-button{


    position: absolute;
    top: 60%;

    left: 72%;
    bottom: 40%;
    height: 2.5em;
    padding-left: 3em;
    padding-right: 3em;
}
