* {
  margin: 0;
  padding: 0;
  height:100%;
  box-sizing: border-box;
}




/* Homepage */
.Homepage{
  background-color: black;
  background-image:
  url("./images/homepage_background.png");
  background-size: auto 125%;
  background-position: right;
 background-repeat: no-repeat;
}

.link-homepage-text{
  display: flex;
  margin-left: 75%;

  color:white;
  height: 3.75em;
  font-size: 1.5em;
  font-family:sans-serif;
}

.links_homepage{
  position: relative;
  right:0%;
  margin-top: 10%;
  margin-right: 2.125em;
}



.content-homepage{
  position: absolute;
  bottom: 12%;
  left: 5%;
  width: 30em;
  height: 15em;
  margin:0em;
  border:none;
}


.description{
  text-align: left;
  position: relative;
  bottom:-30%;
  left:0%;
  color:#94ddde;
  font-weight: lighter;

  font-family:sans-serif;


  border:none;
  margin-left : 0.33em;

  font-size: 1.8em;
  height: 3em;
  width: 20em;
}



.main-heading-homepage{
  text-align: left;
  position: absolute;

  bottom:10%;


  text-align: left;
  font-size: 4.5em;
  color:#f7b4a7;
  font-family:sans-serif;

}


  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }







@media screen and (orientation:portrait) {
  .Homepage{
    background: #284f92;

    background-position: left;

    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:bottom left;
    background-size: 100em;


  }


}
