
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  height:100%;
  box-sizing: border-box;
}


#content {
    transition: 0.2s ease-in;
}

/* Homepage */
.Homepage{
  background-color: black;
  background-image:
  url("./images/homepage_background.png");
  background-size: auto 125%;
  background-position: right;
 background-repeat: no-repeat;
}

.basepage{
  display: flex;
}

.link-homepage-text{
  display: flex;
  justify-content: flex-start;
  margin-left: 87%;
padding-top: 1.5rem;

  color:white;
  height: 2.75em;
  font-size: 2.0rem;
  font-family:sans-serif;
}

.links_homepage{
  position: relative;
  right:0%;
  margin-top: 10%;
  margin-right: 2.125em;
  margin-left: 1em;
}



.content-homepage{
  position: absolute;
  bottom: 12%;
  left: 5%;
  width: 30em;
  height: 15em;
  margin:0em;
  border:none;
}


.description{
  text-align: left;
  position: relative;
  bottom:-30%;
  left:0%;
  color:rgb(219, 231, 152);
  font-weight: lighter;
  font-family: 'Poppins', sans-serif;


  border:none;
  margin-left : 0.33em;

  font-size: 1.8em;
  height: 3em;
  width: 20em;
}



.main-heading-homepage{
  text-align: left;
  position: absolute;

  bottom:10%;


  text-align: left;
  font-size: 5rem;
  color:rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;

}


  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
  #menu-toggle:hover {
      cursor: pointer;
  }

  #top-section .lead {
      font-size: 1.6rem;
      padding: 20px 0px;
  }

  #get-started {
      padding: 15px 25px;
  }

  #main-section {
      padding: 100px 40px;
  }

  #sidebar {
      background-color: white;
      z-index: 1000;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 0px;
      padding: 80px 0px;
      transition: all 0.2s ease-in;
  }

  #sidebar-content {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .sidebar-menu {
      margin-top: 40px;
      width: 400px;
  }

  .sidebar-menu-item {
      padding: 20px 40px;
      font-size: 1.3rem;
      color: white;
      border-left: 0px;
      border-right: 0px;
      width: 100%;
  }

  .sidebar-menu-item:hover {
      background-color: #1a105e!important;
  }

  /*mopbile port extend */

  .visible {
      width: 400px!important;
  }

  #content {
      transition: 0.2s ease-in;
  }

  .shift {
      margin-right: 400px;
  }

  .overlay {
      opacity:    0.5;
      background: #000;
      width:      100%;
      height:     100%;
      z-index:    10;
      top:        0;
      left:       0;
      position:   fixed;
  }

  .links_homepage_sign{
    font-size: 2.1rem;
    padding-top: 1.3rem;
  }

  #sign-up-modal {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -300px;
      margin-left: -250px;
      height: 0px;
      background-color: #fff;
      z-index: 9999;
      width: 0px;
      padding: 0px;
      border-radius: 10px;
      transition: 0.2s linear;
  }

  #close-modal {
      float: right;
      position: relative;
      bottom: 2px;
  }

  #close-modal:hover {
      cursor: pointer;
  }

  .modal-visible {
      height: 600px!important;
      width: 500px!important;
      padding: 50px!important;
  }

.about{
  padding-left: 1em;
  margin-left: 0;
}



@media screen and (max-width: 1092px){
  .Homepage{
    background: rgb(0, 0, 0);

    background-position: left;

    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:bottom left;
    background-size: 100em;


  }


}
