@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.aboutus{
  background-color: black;
  height: auto;

}

.content_about_us{
  height: auto;
  padding: 13rem  8rem;
  color: rgb(228, 237, 211);
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;


}

.header{
  display: flex;
  height: 10%;
}


.heading{
    font-family: 'Raleway', sans-serif;
  font-size: 4.5em;
  width: 100%;
  text-align: center;
  padding-top: 3.5rem;
  color: white;
}




#footer{
  padding-top: 0.25rem;
  height: 10%;
  text-align: center;

}


a{
  padding: 0rem 2rem;
}



.foot_pras{
  padding-top: 1rem;
    font-family: 'Raleway', sans-serif;
}

.instagramlogo :hover {
  color: rgb(255, 28, 28);

}


@media screen and (max-width: 1092px) {
  
  .content_about_us{
    height: auto;
    padding: 22rem  5rem;
    color: rgb(228, 237, 211);
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    line-height: 2;
    text-align: center;
  
  }


  h1.heading{
    
  font-family: 'Raleway', sans-serif;
  font-size: 6.5em;
  width: 100%;
  text-align: center;
  padding-top: 3.5rem;


  color: #fff;
  }

  .foot_pras{
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 3.5rem;
    font-family: 'Raleway', sans-serif;
    height: auto;
  }


}